.levelsList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.levelItem {
  padding: 8px 12px;
  border-radius: 35px;
  background-color: var(--accent);

  font-family: var(--font-family);
  font-weight: var(--fw-medium);
  font-size: 14px;
  line-height: 1.1;
  color: var(--text-main);
}
