@import 'modern-normalize/modern-normalize.css';

:root {
  --font-family: 'Roboto', sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --main: #f4c550;
  --text-main: #121417;
  --text-muted: #8a8a89;
  --background: #ffffff;
  --green: #38cd3e;
  --rating: #ffc531;
  --accent: #fbe9ba;
  --border: #e8e8e9;

  --error: #f66;
  --link: rgb(80, 118, 200);
}

/* Base elements */
html {
  scroll-behavior: smooth;
  color-scheme: light;
}

body {
  font-family: var(--font-family), 'Open Sans', system-ui, sans-serif;
  font-size: 16px;
  font-weight: var(--fw-regular);
  line-height: 1.5;

  color: var(--text-main);
  background-color: var(--background);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
